{% extends 'base.html' %}
{% block title %}Log In Page{% endblock %}

{% block body %}

<form action="/login" method="POST" id="Log-In">
    <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
    <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
    <input type="submit" value="Login" id="login-form-submit">
</form>

<form action="register" method="POST" id="New-User">
    <input type="text" name="new-username" id="new-username-field" class="new-user-field" placeholder="Username">
    <input type="password" name="new-password" id="new-password-field" class="new-user-field" placeholder="Password">
    <input type="text" name="fname" id="new-fname-field" class="new-user-field" placeholder="First Name">
    <input type="text" name="lname" id="new-lname-field" class="new-user-field" placeholder="Last Name">
    <input type="submit" value="Create" id="new-user-submit">
</form>
{% endblock %}