{% extends 'base.html' %}
{% block title %}{{user.fname}}'s Dashboard{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Hello, {{user.fname}}</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">

            <div class="row">           
                <div class="col">
                    <h2>Sales This Month: {{monthly_sales}}</h2>
                </div>
                <div class="col-auto">
                    <h2>Total Sales : {{sales}} </h2>
                </div>
            </div>
            <canvas id="month_sales_chart" style="background-color: transparent"></canvas>
        </div>

        <div class="col-6">
            <div class="row m-5">
                <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#customer-form" aria-expanded="false" aria-controls="collapseExample">
                    New Customer
                </button>
                <div class="collapse" id="customer-form">
                    <form action="/create_customer" id="customer_form" method="POST">
                        <div class="mb-3 mt-3">
                            <input type="text" name="customer_fname" placeholder="Customer's First Name">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="customer_lname" placeholder="Customer's Last Name">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="customer_email" placeholder="ex123@something.com">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="customer_pnumber" placeholder="000-000-0000">
                        </div>
                        <input type="submit" class="btn btn-primary btn-sm" value="New Customer" id="log_customer">
                    </form>
                </div>
                
            </div>
            <div class="row m-5">
                <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#sale-form" aria-expanded="false" aria-controls="collapseExample">
                    New Sale
                </button>
                <div class="collapse" id="sale-form">
                    <form action="/create_sale" id="sale_form" method="POST">
                        <div class="mb-3 mt-3">
                            <select name="email-dropdown" id="email-dropdown" class="form-select">

                            </select>
                            <!-- <input type="email" name="customer_email" placeholder="Customer Email"> -->
                        </div>
                        <div class="mb-3">
                            <input type="text" name="car_make" placeholder="Car Make">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="car_model" placeholder="Car Model">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="car_year" placeholder="Year">
                        </div>
                        <div class="mb-3">
                            <input type="text" name="price" placeholder="Selling Price">
                        </div>
                        <div class="mb-3">
                            <input type="date" name="date" placeholder="Date">
                        </div>
                        <input type="submit" class="btn btn-primary btn-sm" value="New Sale" id="log_sale">
                    
                    </form>
                </div>
                
            </div>
        </div>

    </div>
</div>



<!-- <div class="row"> 
    <div class="col-6">
        <canvas id="month_sales_chart"></canvas>
    </div>
</div>   -->
    <script src="/static/js/customerDropdown.js"></script>
    <script src="/static/js/userChart.js"></script>

{% endblock %}